<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>terms</key>
	<string>mobile-authenticator-terms</string>
	<key>PRODUCTION</key>
	<dict>
		<key>RootURL</key>
		<string>https://www.argentex.com</string>
		<key>support_email</key>
		<string>info@argentex.com</string>
	</dict>
	<key>STAGING</key>
	<dict>
		<key>RootURL</key>
		<string>https://www.argentex.com</string>
		<key>support_email</key>
		<string>info@argentex.com</string>
	</dict>
</dict>
</plist>
